@model Orkidea.SchoolPanel.WebFront.Models.vmUser

@{
    ViewBag.Title = "SchoolAdminUserIndex";
}

@Styles.Render("~/Scripts/datatables/css/demo_page.css")
@Styles.Render("~/Scripts/datatables/css/demo_table.css")
@Styles.Render("~/Scripts/datatables/css/demo_table_jui.css")
@Styles.Render("~/Content/themes/base/jquery-ui.css")
@Styles.Render("~/lib/jquery-ui/css/smoothness/jquery-ui-1.8.20.custom.css")

@Scripts.Render("~/Scripts/jquery.min.js")
<!-- Gebo common -->
@Scripts.Render("~/Scripts/gebo_common.js")
<!-- datatable -->
@Scripts.Render("~/Scripts/datatables/jquery.dataTables.js")
@Scripts.Render("~/Scripts/datatables/DT_bootstrap.js")

<!-- additional sorting for datatables -->
@Scripts.Render("~/Scripts/datatables/jquery.dataTables.sorting.js")
<!-- tables functions -->
@Scripts.Render("~/Scripts/gebo_tables.js")

<h2>Asignar administradores de colegio</h2>

<p>
    @Html.ActionLink("Profesores sin usuario ", "NewTeacher", new { id= Model.idColegio}, new { @class = "btn btn-info" })
</p>

<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered table-striped table_vam" id="dt_gal">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstUser)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.usuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.activo)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>
<script>
    $('#dt_gal').dataTable();
</script>

