@model Orkidea.SchoolPanel.Entities.Person

@{
    ViewBag.Title = "ChangePassword";
}

<h2>Cambio de clave</h2>
<!-- validation -->
@Scripts.Render("~/Scripts/jquery.min.js")
@Scripts.Render("~/lib/validation/jquery.validate.min.js")
@Scripts.Render("~/js/gebo_validation.js")

@using (Html.BeginForm("ChangePassword", null, FormMethod.Post, new { @class = "form_validation_ttip" }))
{
    <div class="row-fluid">
        <div class="span3">
            <label>Nueva Clave<span class="f_req">*</span></label>
            @Html.TextBoxFor(model => model.password, new { @class = "required", type="password" })
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <p>
                <input type="submit" value="Guardar" class="btn btn-info" /> | @Html.ActionLink("Volver al Home","Index", "Home")
            </p>
        </div>
    </div>
}