@model Orkidea.SchoolPanel.WebFront.Models.vmUser

@{
    ViewBag.Title = "SchoolAdminUserIndex";
}

@Styles.Render("~/Scripts/datatables/css/demo_page.css")
@Styles.Render("~/Scripts/datatables/css/demo_table.css")
@Styles.Render("~/Scripts/datatables/css/demo_table_jui.css")
@Styles.Render("~/Content/themes/base/jquery-ui.css")
@Styles.Render("~/lib/jquery-ui/css/smoothness/jquery-ui-1.8.20.custom.css")

@Scripts.Render("~/Scripts/jquery.min.js")
<!-- Gebo common -->
@Scripts.Render("~/Scripts/gebo_common.js")
<!-- datatable -->
@Scripts.Render("~/Scripts/datatables/jquery.dataTables.js")
@Scripts.Render("~/Scripts/datatables/DT_bootstrap.js")

<!-- additional sorting for datatables -->
@Scripts.Render("~/Scripts/datatables/jquery.dataTables.sorting.js")
<!-- tables functions -->
@Scripts.Render("~/Scripts/gebo_tables.js")

<h2>Alumnos sin usuario</h2>

<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered table-striped table_vam" id="dt_gal">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstUser)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                            @Html.HiddenFor(modelItem => item.idTabla)
                        </td>
                        <td>
                            <a href="JavaScript:void(0);" class="btn btn-info usuario">Asignar usuario</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>
<!-- Modal -->
<div id="modalUsr" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Asignacion de usuario</h3>
    </div>
    <div class="modal-body">
        <label>Ingrese el usuario</label>
        <input type="text" id="txtUsuario" />
        <input type="text" id="txtIdUsuario" style="display:none"/>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        <button class="btn btn-primary" id="btnGuardaUser">Guardar</button>
    </div>
</div>
<br />
@Html.ActionLink("Volver al home", "Index", "Home")
<script>
    $('#dt_gal').dataTable();

    $('div').click(function (e) {
        var boton = e.target.classList.contains('usuario');

        if (boton) {

            var row = e.target.parentNode.parentNode;
            var id = row.children[0].children[0].value;
            $('#txtIdUsuario')[0].value = id;
            $('#modalUsr').modal('show');
        }
    });

    $('#btnGuardaUser').click(function () {
        var id = $('#txtIdUsuario')[0].value;
        var txtUsuario = $('#txtUsuario')[0].value;

        var datos = {
            usuario: txtUsuario,
            contraseña: '',
            Rol: 4,
            idTabla: id,
            activo: true
        };

        $.ajax({
            url: '@Url.Action("SaveUser")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(datos),
            success: function (result) {
                var link = '@Url.Action("StudentUserIndex")';
                window.location.href = link;
            }
        });
    });
</script>

