@model Orkidea.SchoolPanel.Entities.StudentLog

@{
    ViewBag.Title = "Create";
}

<!-- validation -->
@Scripts.Render("~/Scripts/jquery.min.js")
@Scripts.Render("~/lib/validation/jquery.validate.min.js")
@Scripts.Render("~/js/gebo_validation.js")

<h2>Maestro de grados</h2>
<div class="row-fluid">
    <div class="span12">
        @using (Html.BeginForm("Create", null, FormMethod.Post, new { @class = "form_validation_ttip" }))
        {
    
            <fieldset>
                <legend>Nueva observación</legend>
                <div class="row-fluid">
                    <div class="span12">
                        <label>Observación<span class="f_req" >*</span></label>
                        @Html.TextAreaFor(model => model.observacion, new { @class="required span8", style="height:80px"})                        
                    </div>
                </div>                
                <p>
                    <input type="submit" value="Guardar" class="btn btn-info" />|
                    @Html.ActionLink("Volver a la lista", "Index")
                </p>
            </fieldset>
       
        }
    </div>
</div>