@model Orkidea.SchoolPanel.WebFront.Models.vmReporting

@{
    ViewBag.Title = "DocentesCursoArea";
}


<!-- validation -->
@Scripts.Render("~/Scripts/jquery.min.js")
@Scripts.Render("~/lib/validation/jquery.validate.min.js")
@Scripts.Render("~/js/gebo_validation.js")


<h2>Puestos por institución</h2>

<div class="row-fluid">
    <div class="span6">
        @using (Ajax.BeginForm("CreateUpload", null, null, new AjaxOptions { UpdateTargetId = "divInvoiceList" }, new { id = "uploaded", @class = "form_validation_ttip", enctype = "multipart/form-data" }))
        {                   
            <div id="divAno">
                <label>Año<span class="f_req">*</span></label>
                @Html.DropDownListFor(c => c.año, new SelectList(Model.lsAño, "key", "value", Model.año), "-- Selecione un año --", new { @class = "required span12" })
            </div>            
            <hr />
            <div class="row-fluid">
                <div class="span12">
                    <input type="button" value="Generar" class="btn btn-info" id="btnGenerar"/>
                    | @Html.ActionLink("Volver al Home", "Index", "Home")
                </div>
            </div>        
        }
    </div>
</div>



<script>

    $('#btnGenerar').click(function () {

        var año = $('#a_o').val();

        if (año != '') {
            var link = '@Url.Action("DocentesCursoAreaRep", new { id = "-1" })';
            link = link.replace("-1", año);
            window.open(link,'_blank');
        }
    });

</script>

