@model Orkidea.SchoolPanel.WebFront.Models.vmCourse

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Scripts/datatables/css/demo_page.css")
@Styles.Render("~/Scripts/datatables/css/demo_table.css")
@Styles.Render("~/Scripts/datatables/css/demo_table_jui.css")
@Styles.Render("~/Content/themes/base/jquery-ui.css")
@Styles.Render("~/lib/jquery-ui/css/smoothness/jquery-ui-1.8.20.custom.css")

@Scripts.Render("~/Scripts/jquery.min.js")
<!-- Gebo common -->
@Scripts.Render("~/Scripts/gebo_common.js")
<!-- datatable -->
@Scripts.Render("~/Scripts/datatables/jquery.dataTables.js")
<!-- additional sorting for datatables -->
@Scripts.Render("~/Scripts/datatables/jquery.dataTables.sorting.js")
<!-- tables functions -->
@Scripts.Render("~/Scripts/gebo_tables.js")

<h2>Incluir alumno a curso</h2>

<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered table-striped table_vam" id="dt_gal">
            <thead>
                <tr>
                    <th>Id estudiante</th>
                    <th>Nombre</th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstStudentsNoCourse)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.idEstudiante)
                            @Html.HiddenFor(modelItem => item.idColegio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.desEstudiante)
                        </td>
                        <td>                            
                            <a href="@Url.Action("IncludeStudent", "CourseStudent", new {idCourse = Model.id, idStudent = item.idEstudiante })" title="Incluir" class="btn btn-info">Incluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $('#dt_gal').dataTable();
</script>